<h1>Seaching for - <%=  @search_item %></h1>

<table border = "1">
	<% @searches.each do |search| %>
		<tr>
			<td><%= link_to image_tag(search["image_url"], height: '100', width: '100'), search["f2f_url"] %></td>
			<td><%= link_to sanitize(search["title"]), search["f2f_url"] %></td>
			<td><%= search["social_rank"] %></td>
		</tr>
	<%end%>
</table>
